name: Auto Approve Bot PRs

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-approve:
    if: github.actor == 'nix-flake-auto-update[bot]'
    runs-on: ubuntu-slim
    permissions:
      pull-requests: write
    steps:
      - uses: hmarr/auto-approve-action@v4
