name: "Update Nix Flake Packages"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * *" # https://crontab.guru/#0_10_*_*_*
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v23
      - name: Update flake packages
        id: update
        uses: selfuryon/nix-update-action@v1.0.0
        with:
          # TODO: remove nethermind after we fix build for them
          # TODO: remove mev-boost after they make a new release tag
          blacklist: "staking-deposit-cli,dreamboat,bls,blst,evmc,mcl,besu,teku,lighthouse,reth,wake,docs,foundry-bin,foundry,web3signer,mev-boost-prysm,mev-boost-builder,vscode-plugin-consensys-vscode-solidity-visual-editor,vscode-plugin-ackee-blockchain-solidity-tools,mev-boost,nethermind"
          sign-commits: true
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          gpg-fingerprint: ${{ secrets.GPG_FINGERPRINT }}
          pr-title: "chore: update packages"
          pr-labels: |
            dependencies
            automated
            auto-merge
      - name: Print PR number
        run: echo Pull request number is ${{ steps.update.outputs.pull-request-number }}.
